@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
  color: aliceblue;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 100%;
    margin-top: 3em;
}

input[type=text]{
  width: 40%;
  height: 50px;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 25px 0 0 0;
}

input[type=text]:focus{
  outline: none;
}

button{
  height: 50px;
  border-radius: 0 0 25px 0;
  width: 100px;
  font-size: xx-large;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.top{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
}